{% extends "_base.html.j2" %}
{% block extra_style %}:root { --type-accent: var(--blue); }{% endblock %}
{% block content %}
<div class="definition-slide">
  <div class="definition-term">{{ seg.title | e }}</div>
  {% if seg.body %}
  <div class="definition-text">{{ seg.body | e }}</div>
  {% endif %}
  {% if seg.code %}
  <pre><code class="language-{{ seg.language or 'text' }}">{{ seg.code | e }}</code></pre>
  {% endif %}
</div>
{% endblock %}
