{% extends "_base.html.j2" %}
{% block content %}
<div class="hook-slide">
  <h1 class="hook-question">{{ seg.title | e }}</h1>
  {% if seg.body %}
  <ul class="learn-list">
    {% for item in seg.body.split('\n') if item.strip() %}
    <li>{{ item | e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
