{% extends "_base.html.j2" %}
{% block top_bar %}LearnX{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
<div class="outro-slide">
  <div class="outro-text">That's a wrap.</div>
  {% if spec is defined and spec.memory_hooks %}
  <div class="outro-sub">
    {% for hook in spec.memory_hooks[:3] %}{{ hook | e }}{% if not loop.last %} &nbsp;·&nbsp; {% endif %}{% endfor %}
  </div>
  {% endif %}
  {% if spec is defined and spec.session_stats %}
  <div class="outro-sub">{{ spec.session_stats | e }}</div>
  {% endif %}
</div>
{% endblock %}
